.constructor {
    width: 243px;
    height: 480px;
    border: 2px dashed #C4C4C4;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__text1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #5D5FEF;
    }
    &__text2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #6B7280;
    }
}